body {
	margin: 0px;
	padding: 0px;
}

.canvas {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	position:fixed;
	left:200px;
	top:0px;
	overflow:scroll;
}

.cpanel {
	width:230px;
	height:100%;
	background-color:white;
	z-index:1;
	top:0;
	left:0;
	overflow-x:hidden;
	position:fixed;
	padding:10px;
}

.canvasDiv {
	float:left;
	height:1080px;
	width:1920px;
	z-index:-1;
	overflow:scroll;
}

.longButton {
	width:100%;
	margin-top:10px;
}

.buttonDock {
	position:fixed;
	width:100%;
	height:auto;
	bottom:0;
	left:0;
	padding:5px;
}

.shapeDock {
	width:300px;
	height:215px;
	z-index: 100;
	background-color:white;
	border-radius:7px;
	border: 1px solid rgba(0, 0, 0, .1);
	position:absolute;
	top:10;
	left:10;
	display:none;
}

.shapeButtons {
	height:auto;
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
	color:black;
	padding:10px;
}

.shapeForm {
	margin-top:10px;
	width:100%;
	height:auto;
	padding:10px;
}

.closeButton {
	width:auto;
	height:auto;
	position:absolute;
	right:5;
	top:0;
	color:rgba(0, 0, 0, .2);
	font-weight:0;
	font-size:15pt;
	line-height:12pt;
}

.pointerHover:hover {
	cursor:pointer;
}

input::placeholder {
  color: rgba(0, 0, 0, .01);
  opacity: 1;
}

.smallish-label {
	font-size:.85em;
}
.small-label {
	font-size:.7em;
}

.low-hr {
	margin-top:5px;
	margin-bottom:5px;
}
