
{% include "header.html" %}

<body>
	

	<div class="canvas">
		<!-- div for canvas -->
		<div class="canvasWrapper">
			<div class="canvasDiv">
			<canvas id="polyCanvas" width="1920" height="1080" style="cursor:crosshair">
			</canvas>
			<div class="mapDock" id="mapDock">
				<div class="mapArea"></div>
			</div>
		</div>
		</div>

		<div class="shapeDock" id="shapeDock">
			<div class="closeButton pointerHover"><b id="closeBtn">x</b></div>

			<div class="shapeForm">
				<div class="input-group mb-3">
		  			<div class="input-group-prepend">
		    			<span class="input-group-text input-group-text-mini" id="basic-addon1">Type</span>
		  			</div>
		  			<input type="text" class="form-control" aria-label="type" aria-describedby="basic-addon1" id="typeLabel">
				</div>
				<div class="input-group mb-3">
		  			<div class="input-group-prepend">
		    			<span class="input-group-text" id="basic-addon3">Features</span>
		  			</div>
		  			<input type="text" class="form-control" aria-label="producer" aria-describedby="basic-addon3" id="featuresLabel">
				</div>
				<div class="input-group mb-3">
		  			<div class="input-group-prepend">
		    			<span class="input-group-text" id="basic-addon2">Producer</span>
		  			</div>
		  			<input type="text" class="form-control"  aria-label="producer" aria-describedby="basic-addon2" id="producerLabel">
				</div>
			</div>

			<div class="shapeButtons">
				<div class="layerContainer">
					<i class="fa fa-trash-o pointerHover" style="font-size:1.5em;color:rgba(200, 0, 0, .6);" onclick="delete_selected_shape()" id="deletePoint"></i>
					<i class="fa fa-check pointerHover right-docked" style="font-size:1.5em;color:rgba(0, 150, 0, .6);" onclick="update_selected_shape()" id="savePoint"></i>
				</div>
			</div>
		</div>

		<div class="cpanel">
			<div class="statsPanelWrapper">
				<div class="statsPanel" id="statsPanel">
					<div class="localStatsPanel">
						<div class="statsTitle">You</div>
						<div class="statsCol">
							<div class="statsRow">
								<i class="fa fa-image"></i>
								<b><span class="labelText" id="localImages">0</span></b>
							</div>
							<div class="statsRow">
								<i class="fa fa-tag"></i>
								<b><span class="labelText" id="localLabels">0</span></b>
							</div>
						</div>
					</div>

					<div class="globalStatsPanel">
						<div class="statsTitle">All</div>
						<div class="statsCol">
							<div class="statsRow">
								<i class="fa fa-image"></i>
								<b><span class="labelText" id="globalImages">0</span></b>
							</div>
							<div class="statsRow">
								<i class="fa fa-tag"></i>
								<b><span class="labelText" id="globalLabels">0</span></b>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cpanelContainer">
				<div class="navButtons">
					<div class="navButtonDock">
						<div class="navButton navButtonAdd" id="addPoly">
							<i class="fa fa-plus tightIcon" aria-hidden="true" style="margin-top:1px" id="plusSign"></i>
						</div>
						<div class="navButtonText">add [a]</div>
					</div>

					<div class="vertical-hr"></div>

					<div class="navButtonDock">
						<div class="navButton navButtonClear" id="clearPoly">
							<i class="fa fa-times tightIcon" aria-hidden="true"></i>
						</div>
						<div class="navButtonText">clear [x]</div>
					</div>

					<div class="navButtonDock">
						<div class="navButton navButtonSkip" id="skipFrame">
							<i class="fa fa-arrow-right tightIcon" aria-hidden="true"></i>
						</div>
						<div class="navButtonText">skip [n]</div>
					</div>

					<div class="navButtonDock">
						<div class="navButton navButtonSubmit" id="submitLabels">
							<i class="fa fa-check tightIcon" aria-hidden="true"></i>
						</div>
						<div class="navButtonText">submit [s]</div>
					</div>
				</div>

				<div class="settingsButton">
					<div class="settingsIcon">
						<div class="mapButtonCtr mapOpenCtr" id="mapBtn">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
						</div>
					</div>
					<div class="settingsIcon">
						<div class="settingsButtonCtr" id="settingsBtn">
							<i class="fa fa-cog" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="settingsPanel" id="settingsPanel">
		<h3><center>Settings</center></h3>
		<hr class="low-hr"/>
		<div class="form-check" id="loadPolys">
			<input class="form-check-input" type="checkbox" value="" id="loadAnnotations">
			<label class="form-check-label smallish-label">
				Load Polygons from Server
			</label>
			<label class="small-label">
				If a frame has already been labeled, those annotations can be requested from the server for quick verification/tweaking.
			</label>
		</div>
		<hr class="low-hr"/>
		<div class="form-check" id="requestSequential">
			<input class="form-check-input" type="checkbox" value="" id="sequentialFrames">
			<label class="form-check-label smallish-label">
				Request Sequential Frames
			</label>
			<label class="small-label">
				Request the next frame from the current frame's video sequence if available. By default, the next image will be a random image.
			</label>
		</div>
		<hr class="low-hr"/>
		<div class="form-check" id="prevAnnotations">
			<input class="form-check-input" type="checkbox" value="" disabled="true" id="previousAnnotations">
			<label class="form-check-label smallish-label">
				Keep Last Frame Polygons
			</label>
			<label class="small-label">
				When loading sequential frames from a video, load the polygons from the last frame for quick verification/tweaking.
			</label>
		</div>
	</div>
</body>



<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="./static/js/point_manager.js" type="text/javascript"></script>
<script src="./static/js/canvas.js" type="text/javascript"></script>
<script src="./static/js/hop.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs3H0X1Za9VFWCI2LYtmcarvItNhI_ao0&callback=initMap" async defer></script>
