:root {
	--dockHeight : 4.5em;
	--buttonRadius : 35px;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

body {
	margin:0;
	padding:0;
	overflow-x:hidden;
	font-family: 'Nunito', sans-serif;
}

html {
	width: 100%;
	height: 100%;
}

.canvas {
	width:100%;
	height:calc(100% - var(--dockHeight));
	padding:0;
	margin:0;
	position:fixed;
	left:0;
	top:0;
	overflow:scroll;
}

.cpanel {
	width:100%;
	height:var(--dockHeight);
	background-color:white;
	z-index:661;
	overflow-x:hidden;
	position:fixed;
	bottom:0;
	left:0;
	border-top: 1px solid rgba(150, 150, 150, .5);
	box-shadow: 0px -2px 5px rgba(0, 0, 0, .2);
	min-width:500px;
}

.cpanelContainer {
	width:100%;
	height:100%;
	position:relative;
	display: flex;
	justify-content: center;
}

.settingsButton {
	width:auto;
	height:100%;
	position:absolute;
	right:0;
	bottom:0;
    display: flex;
    align-items: center;
	justify-content: center;
	opacity: .75;
	margin-right:1em;
}

.settingsButtonCtr {
	width:auto;
	height:auto;
    align-self: center;
	transition: transform .4s, color .1s;
}

.settingsButtonCtr:hover {
	color: rgb(85, 85, 85);
	cursor: pointer;
}

.settingsButtonCtr:active {
	color: rgb(70, 70, 70);
}

.mapButtonCtr {
	width: auto;
	height: auto;
	align-self: center;
	transition: transform .2s, color .2s;
	color: rgb(242, 163, 44);
	margin-right:1em;
}

.mapButtonCtr:hover {
	cursor: pointer;
}

.mapOpenCtr {
	color: rgb(50, 168, 82);
	opacity:.6;
}

.mapClosedCtr {
	color: rgb(219, 56, 31);
}

.mapDock {
	width:30em;
	height:20em;
	background-color:white;
	border-radius:5px;
	position:absolute;
	left:10;
	top:10;
	z-index:2;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .6);
	border: 2px solid rgba(20, 20, 20, .8);
}

.settingsIcon {
	width:auto;
	height:auto;
	color: rgb(100, 100, 100);
	font-size:1.5em;
}

.settingsPanel {
	width:25em;
	height:calc(100% - var(--dockHeight));
	position:absolute;
	left:100%;
	top:0;
	background-color:white;
	transition: left .4s;
	box-shadow: -3px 0px 5px rgba(0, 0, 0, .1);
	border-left: .5px solid rgba(130, 130, 130, .5);
	z-index: 3;
	padding:1em;;
}

.statsPanel {
	position:absolute;
	left:0;
	bottom:0;
	width:auto;
	height: var(--dockHeight);
	padding-top:1px;
}

.localStatsPanel {
	float:left;
	height:100%;
	width:100px;
}

.statsCol {
	width:100%;
	height:calc(100% - 20px);
	display: flex;
	flex-direction: column;
	border-right: 1px solid rgb(220, 220, 220);
}

.statsRow {
	font-size: .8em;
	padding-top:2.5px;
	padding-left:5px;
	color: rgba(0, 85, 138, .7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.labelText {
	color:rgba(0, 0, 0, .5);
	font-size: .9em;
	font-weight:10000;
	text-align:right;
	width:100%;
	margin-left:10px;
}

.globalStatsPanel {
	float:right;
	height:100%;
	width:100px;
}

.statsTitle {
	height:20px;
	width:100%;
	text-align:center;
	color:rgb(40, 40, 40);
	font-size:.7em;
	padding-top:2px;
	font-weight: 300;
}

.tightIcon {
	height:auto;
	width:auto;
	font-size: .5em;
}

.navButtons {
	position:relative;
	float:right;
	height:100%;
	width:auto;
	display: flex;
	justify-content: center;
}

.navButtonDock {
    align-self: center;
    margin-left:10px;
    margin-right:10px;
}

.navButton {
	width: var(--buttonRadius);
	height: var(--buttonRadius);
	border-radius: 50%;
	border: .5px solid rgba(0, 0, 0, .1);
	background-color:white;
    position:relative;
	transition: background-color .2s;
	font-size:.75em;
}

.navButton .fa {
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.navButton:hover {
	cursor: pointer;
}

.navButtonText {
	font-size:.6em;
	color:rgba(18, 22, 71, .9);
	text-align:center;
	width: 100%;
	height:auto;
	margin:0;
	padding:0;
	font-family: 'Nunito', sans-serif;
}
.navButtonSubmit {
	color: rgba(92, 214, 59, .5);
	background-color:rgba(140, 255, 110, .15);
}

.navButtonSubmit:hover {
	background-color:rgba(140, 255, 110, .5);
}

.navButtonSubmit:active {
	background-color:rgba(90, 235, 70, .5);
}

.navButtonClear {
	color: rgba(245, 75, 66, .5);
	background-color: rgba(240, 155, 151, .15);
}

.navButtonClear:hover {
	background-color: rgba(240, 155, 151, .5);
}

.navButtonClear:active {
	background-color: rgba(230, 130, 130, .5);
}

.navButtonSkip {
	color: rgba(77, 132, 235, .5);
	background-color: rgba(129, 168, 240, .15);
}

.navButtonSkip:hover {
	background-color: rgba(129, 168, 240, .5);
}

.navButtonSkip:active {
	background-color: rgba(100, 140, 230, .5);
}

.navButtonAdd {
	color: rgba(77, 132, 235, .5);
	background-color: rgba(129, 168, 240, .15);
	transition: transform .25s, background-color .25s, color .25s;
}

.navButtonAdd:hover {
	background-color: rgba(129, 168, 240, .5);
}

.navButtonAdd:active {
	background-color: rgba(100, 140, 230, .5);
}

.vertical-hr {
	height:calc(100% - 20px);
	width:2px;
	border-right: 1px solid rgb(230, 230, 230);
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px;
	margin-right:5px;
}

.canvasDiv {
	float:left;
	height:1080px;
	width:1920px;
	z-index:-1;
	overflow:scroll;
}

.longButton {
	width:100%;
	margin-top:5px;
}

.buttonDock {
	position:fixed;
	width:100%;
	height:auto;
	bottom:0;
	left:0;
	padding:5px;
}

.form-control {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.shapeDock {
	width:300px;
	height: auto;
	z-index: 10;
	background-color:white;
	border-radius:7px;
	border: 1px solid rgba(0, 0, 0, .1);
	position:absolute;
	top:0;
	left:0;
	display:none;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.shapeButtons {
	height:auto;
	width:100%;
	color:black;
	position:relative;
}

.layerContainer {
	width: auto;
	height: auto;
	position: relative;
    display: flex;
    align-items: center;
	justify-content: center;
	padding: 10px;
}

.shapeForm {
	margin-top:10px;
	width:100%;
	height:auto;
	padding:10px;
	padding-bottom:0;
}

.closeButton {
	color:rgba(0, 0, 0, .2);
	font-weight:0;
	font-size:15pt;
	line-height:12pt;
	width:100%;
	height:auto;
	float:right;
	text-align:right;
	padding-top:.3em;
	padding-right:.5em;
	padding-bottom: .3em;
}

.pointerHover {
	padding-left:.3em;
	padding-right:.3em;
}

.pointerHover:hover {
	cursor:pointer;
}

input::placeholder {
  color: rgba(0, 0, 0, .01);
  opacity: 1;
}

.smallish-label {
	font-size:.85em;
}
.small-label {
	font-size:.7em;
}

.low-hr {
	margin-top:5px;
	margin-bottom:5px;
}

/* landing css */

.page-dock {
	width:100%;
	height:100%;
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	background: linear-gradient(0deg, #ACB6E5 0%, #74ebd5 100%);
}

.leaf{
  width:45px;
  height:45px;
  position:absolute;
  background: url(../eco-leaf.png);
  background-size: 100% 100%;
  z-index:1;
}

.total-doc {
	width: 600px;
	height: 500px;
	position:absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -300px;
	z-index:10;
}

.spacing-doc {
	width:600px;
	height:350px;
	background-color: rgba(240, 240, 240, .4);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
	border-radius: .5em;
	border: 1px solid rgba(255, 255, 255, .4);
	background: rgb(233,233,233);
	background: linear-gradient(0deg, rgba(200, 200, 200, .4) 0%, rgba(240, 240, 240, .4) 100%);
	position:relative;
	box-sizing: border-box;
}

.site-info {
	float:left;
	width: 50%;
	height:100%;
}

.site-buttons {
	float:right;
	width: 50%;
	height:100%;
	padding:10px;
}

.left-info {
	border-left: 1px solid rgba(255, 255, 255, .2);
}

.btn {
	margin-bottom:10px;
}

.btn : hover {
	cursor:crosshair;
}

.custom-button-main {
	border-radius:6px;
	border: 1px solid #dcdcdc;
	font-size: 14px;
	padding: 5px 6px;
	background-color: white;
	cursor:pointer;
	color: rgb(33, 174, 255);
	margin-bottom:5px;
	transition: background-color .4s;
	font-size:.95em;
}

.donate-button {
	color:green;
}

.custom-button-main:hover {
	background-color: rgb(220, 220, 220);
	color: rgb(85, 107, 231);
}

.button-descripton {
	font-size:.6em;
	font-weight: 400;
	padding: 0px 5px 0px 5px;
	color: rgb(80, 80, 80);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, .2);
}

.start-button {
	color: rgb(6, 189, 42);
	transition: color .4s;
}

.start-button:hover {
	color:rgb(9, 158, 38);
}

.button-text {
	width:100%;
	height:auto;
	color: rgb(33, 130, 200);
	font-size:.75em;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	position:absolute;
	bottom:0px;
	left:0px;
	background-color:rgba(255, 255, 255, .9);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	float:bottom;
	padding:3px;
}

.info-dock {
	font-size:.8em;
	color:rgb(70, 70, 70);
	padding:10px;
}

.info-dock-text {
	color: rgb(240, 240, 240);
	font-size:4em;
	font-family: 'Titillium Web', sans-serif;
	font-weight:900;
	width:100%;
	height:auto;
	text-shadow: 2px 2px 8px rgba(100, 100, 100, .3);
}

.light-hr {
	border: .5px solid rgba(255, 255, 255, .35);
}

.window-length {
	width:100%;
	height:85%;
}

.maintile {
	background-color: rgb(240, 240, 240);
	box-shadow: 1px -3px 20px rgba(0, 0, 0, .3);
	z-index:10;
	position:relative;
}

.bluebg {
	position:relative;
	background-color:white;
	z-index:1;
}

.center {
	background-color:white;
	width:250px;
	height:250px;
	border-radius: 50%;
	position:absolute;
	left: 50%;
	top: 50%;
	margin: -125px 0 0 -125px;
	box-shadow: 0px 0px 13px rgba(0, 0, 0, .12);
	line-height:250px;
	text-align:center;
	color:rgba(50, 50, 50, .5);
	font-size:2.5em;
}
