body {
	margin: 0px;
	padding: 0px;
}

html {
	width: 100%;
	height: 100%;
}

.canvas {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	position:fixed;
	left:230px;
	top:0px;
	overflow:scroll;
}

.cpanel {
	width:230px;
	height:100%;
	background-color:white;
	z-index:1;
	top:0;
	left:0;
	overflow-x:hidden;
	position:fixed;
	padding:10px;
}

.canvasDiv {
	float:left;
	height:1080px;
	width:1920px;
	z-index:-1;
	overflow:scroll;
}

.longButton {
	width:100%;
	margin-top:10px;
}

.buttonDock {
	position:fixed;
	width:100%;
	height:auto;
	bottom:0;
	left:0;
	padding:5px;
}

.shapeDock {
	width:300px;
	height:215px;
	z-index: 100;
	background-color:white;
	border-radius:7px;
	border: 1px solid rgba(0, 0, 0, .1);
	position:absolute;
	top:10;
	left:10;
	display:none;
}

.shapeButtons {
	height:auto;
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
	color:black;
	padding:10px;
}

.shapeForm {
	margin-top:10px;
	width:100%;
	height:auto;
	padding:10px;
}

.closeButton {
	width:auto;
	height:auto;
	position:absolute;
	right:5;
	top:0;
	color:rgba(0, 0, 0, .2);
	font-weight:0;
	font-size:15pt;
	line-height:12pt;
}

.pointerHover:hover {
	cursor:pointer;
}

input::placeholder {
  color: rgba(0, 0, 0, .01);
  opacity: 1;
}

.smallish-label {
	font-size:.85em;
}
.small-label {
	font-size:.7em;
}

.low-hr {
	margin-top:5px;
	margin-bottom:5px;
}

/* landing css */

.page-dock {
	width:100%;
	height:100%;
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.leaf{
  width:45px;
  height:45px;
  position:absolute;
  background: url(../eco-leaf.png);
  background-size: 100% 100%;
  z-index:1;
}

.total-doc {
	width: 600px;
	height: 500px;
	position:absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -300px;
	z-index:10;
}

.spacing-doc {
	width:600px;
	height:350px;
	background-color: rgba(240, 240, 240, .4);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
	border-radius: .5em;
	border: 1px solid rgba(255, 255, 255, .4);
	background: rgb(233,233,233);
	background: linear-gradient(0deg, rgba(200, 200, 200, .4) 0%, rgba(240, 240, 240, .4) 100%);
	position:relative;
	box-sizing: border-box;
}

.site-info {
	float:left;
	width: 50%;
	height:100%;
}

.site-buttons {
	float:right;
	width: 50%;
	height:100%;
	padding:10px;
}

.left-info {
	border-left: 1px solid rgba(255, 255, 255, .2);
}

.btn {
	margin-bottom:10px;
}

.btn : hover {
	cursor:crosshair;
}

.custom-button-main {
	border-radius:6px;
	border: 1px solid #dcdcdc;
	font-size: 14px;
	padding: 5px 6px;
	background-color: white;
	cursor:pointer;
	color: rgb(33, 174, 255);
	margin-bottom:5px;
	transition: background-color .4s;
	font-size:.95em;
}

.donate-button {
	color:green;
}

.custom-button-main:hover {
	background-color: rgb(220, 220, 220);
	color: rgb(85, 107, 231);
}

.button-descripton {
	font-size:.6em;
	font-weight: 400;
	padding: 0px 5px 0px 5px;
	color: rgb(80, 80, 80);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, .2);
}

.start-button {
	color: rgb(6, 189, 42);
	transition: color .4s;
}

.start-button:hover {
	color:rgb(9, 158, 38);
}

.button-text {
	width:100%;
	height:auto;
	color: rgb(33, 130, 200);
	font-size:.75em;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	position:absolute;
	bottom:0px;
	left:0px;
	background-color:rgba(255, 255, 255, .9);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	float:bottom;
	padding:3px;
}

.info-dock {
	font-size:.8em;
	color:rgb(70, 70, 70);
	padding:10px;
}

.info-dock-text {
	color: rgb(240, 240, 240);
	font-size:4em;
	font-family: 'Titillium Web', sans-serif;
	font-weight:900;
	width:100%;
	height:auto;
	text-shadow: 2px 2px 8px rgba(100, 100, 100, .3);
}

.light-hr {
	border: .5px solid rgba(255, 255, 255, .35);
}

.window-length {
	width:100%;
	height:85%;
}

.maintile {
	background-color: rgb(240, 240, 240);
	box-shadow: 1px -3px 20px rgba(0, 0, 0, .3);
	z-index:10;
	position:relative;
}

.bluebg {
	position:relative;
	background-color:white;
	z-index:1;
}

.center {
	background-color:white;
	width:250px;
	height:250px;
	border-radius: 50%;
	position:absolute;
	left: 50%;
	top: 50%;
	margin: -125px 0 0 -125px;
	box-shadow: 0px 0px 13px rgba(0, 0, 0, .12);
	line-height:250px;
	text-align:center;
	color:rgba(50, 50, 50, .5);
	font-size:2.5em;
}
