<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="tutorialModalLabel">Adding a Label</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body" id="modalBody">
     Click the add button to add a label on the canvas. You may then click <b>4</b> points on the canvas to draw a polygon. Try to draw a polygon that best fits the object! Your polygon will be averaged with other labeler's polygons to create a general shape.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" onclick='reverse_modal()'>Back</button>
    <button type="button" class="btn btn-primary" onclick='advance_modal()'>Next</button>
    <button type="button" class="btn btn-success" onclick='close_tutorial_modal()'>Finish</button>
  </div>
</div>