<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="tutorialModalLabel">The Canvas - Where Magic Happens!</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body" id="modalBody">
     An image that needs labeling will be loaded from <b>recyclr.net's</b> servers and displayed right here in your canvas.<br/><br/>
     <b>Important:</b> The canvas is scrollable and loads 1920x1080 images. Scroll around to scan the image for any trash / reyclables.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" onclick='reverse_modal()' disabled>Back</button>
    <button type="button" class="btn btn-primary" onclick='advance_modal()'>Next</button>
    <button type="button" class="btn btn-success" onclick='close_tutorial_modal()'>Finish</button>
  </div>
</div>