<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="tutorialModalLabel">Clearing Labels</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body" id="modalBody">
     Polygons not looking right? No worries 😎 <br/><br/>
     Click <b>'Clear Polygons'</b> to remove all polygons on the canvas.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" onclick='reverse_modal()'>Back</button>
    <button type="button" class="btn btn-primary" onclick='advance_modal()'>Next</button>
    <button type="button" class="btn btn-success" onclick='close_tutorial_modal()'>Finish</button>
  </div>
</div>