<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="tutorialModalLabel">Skipping Images</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body" id="modalBody">
     Some frames may not contain trash or recyclables. That's ok! <br/> <br/>
     If you don't see anything worth labeling, or you just want to move on to a different imgae, click <b>'Skip Image'</b> to load a new image.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" onclick='reverse_modal()'>Back</button>
    <button type="button" class="btn btn-primary" onclick='advance_modal()'>Next</button>
    <button type="button" class="btn btn-success" onclick='close_tutorial_modal()'>Finish</button>
  </div>
</div>